.element{
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 0 1.5rem;
  line-height: 5rem;
  text-align: center;
  color: $c-secondary;
  font-size: $element-text-size;
  background: $c-primary;
  opacity: 0.6;
  transition: all 0.5s;
  animation: appear 1s;
}

.element--active{
  @extend .element;
  background: $c-accent;
  transition: all 0.8s;
}

.element--sorted{
  @extend .element;
  background: $c-secondary;
  color: $c-primary;
  transition: all 0.5s;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 0.6;}
}