doctype html

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Сортировка
    link(href="css/main.min.css", rel="stylesheet", type="text/css")

body
    .body-wrapper
    .button Начать

    script(src="js/app.js")